go 1.23.3

use (
	./account-version-example
	./distributed-unique-id-example
	./golang-channel-example
	./golang-grafana-prometheus-example
	./golang-grpc-example
	./golang-slice-and-map-example
	./golang-sync-example
	./golang-tcp-example
	./golang-unsafe-example
	./golang-websocket-example
	./hello-world
	./mqtt-golang-example
	./rocketmq-golang-example
)
